:root {
    --font:'Noto Serif', serif;
    --bg-color:#020060;
    --text-color:orangered;
}
body {
    text-align: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font) ;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
main > div{
    margin: 20px;
    padding: 20px;
    height:600px;
    overflow-y: scroll;
    border-radius: 40px;
}
#markdownDiv {
    width: 100%; 
    height: 80%;
    border-radius: 40px;
    color: var(--bg-color);
    padding : 20px;
    outline: none;
}
.markdown{
    font-family: 'Roboto Mono', monospace!important;
}

header{
    width: 100%;
    background-color: var(--bg-color);
    color:var(--text-color);
    padding : 20px;
    transition: 0.2s; 
}

img{
    width: 400px;
    height: auto;
}

#resultDiv{
    background-color: white;
    height:80%;
    border-radius: 40px;
    color: var(--bg-color);
    padding : 20px;
    overflow-y: scroll;
}

.btn {
    background-color: var(--text-color);
    font-size: 20px;
    font-weight: bold;
    color: var(--bg-color);
    margin: 10px;
}

#theme{
    margin: 10px auto;
    width:50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
input {
    background-color: var(--bg-color);
    border: none;
}

@media only screen and (max-width: 992px) {
    main {
        display: block;
    }
    main > div, #resultDiv, #markdownDiv  {
        border-radius: 20px;
    }
    label {
        font-size: 15px;

    }
}


@media only screen and (max-device-width : 580px) {
    main > div{
        margin: 20px auto;
        height:400px;
        width: 70%;
    }
    label {
        font-size: 13px;

    }
}